body .auth {
    margin-top: 60px;
}



#helloBooksLogo {
    max-width: 200px;
    fill:  #f5f7dc;
    padding-bottom: 30px;
}

#auth-form {
    background-color: #e65f5c;
    padding: 60px 40px;
    margin-top: 40px;
    /*border: #9f9baa 1px solid;*/
    border-radius: 1.5em;
    max-width: 800px;
}

#auth-form .field > label {
    color: white;
}

#auth-form .btn {
    background-color: #e65f5c;
    border-radius: 20px;
    color: #f5f7dc;
    font-weight: bold;
}

#auth-form button {
    background-color: #f5f7dc !important;
    color: black !important;
    margin-top: 2em !important;
}

#auth-form button:hover {
    background-color: #9f494f !important;
    font-weight: bold;
    color: white !important;
}

