#homeDash {
    background-color: aqua;
    height: 100%;
    width: 100%;
}

#helloBooksLogo {
    max-width: 300px;
    fill: #000066;
    padding-bottom: 30px;
}

body {
    font-family: 'PT Serif', serif;
}

.hero-body {
    background-color: #f5f7dc;
}

.sign-up-form {
    background-color: #000066;
}

.button.is-primary.auth-button {
    background-color: #000066;
}

.button.is-primary.auth-button:hover {
    background-color: #e65f5c;
}

nav.auth-sign {
    font-size: 1.4em;
}

.active, nav.auth-link > a:hover {
    font-weight: bold;
    color: #e65f5c;
}

nav.auth-link {
    color: #000066;
    font-size: 1.3em;
}

nav > span {
    margin: 3px;
}


/*
    book card classes
    =====================
    */

.bookCard {
    border: black 1px solid;
    max-width: 600px;
    margin-bottom: 10px;
    padding: 10px;
}

.bookCard h3 {
    font-size: 3em;
}

#auth-link {
    background-color: black;
}